<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Attendence Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Read_Excel.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
           
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Attendence Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <i class="bi bi-house-door"></i></a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DataUpload" asp-action="Index">Data Upload <i class="bi bi-database-add"></i></a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DataUpload" asp-action="view_all_data">Log Process <i class="bi bi-box-arrow-in-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DataUpload" asp-action="ProcessDataCompleted">View Reports <i class="bi bi-file-earmark-text-fill"></i></a>
                        </li>

                        </ul>
                        
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer> @*class="border-top footer text-muted" style="position: fixed;
   bottom: 0;
   width: 100%;
   height: 30px; background-color:white;">*@
   <hr />
        <div class="container">
            &copy; 2022 - Project_Attendance - <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none;"><i class="bi bi-house-door"></i> Home </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

